.sourceCode {
  // KeyWord
  .kw {
    color: #268BD2;
  }

  // DataType
  .dt {
    color: #268BD2;
  }

  // DecVal (decimal value), BaseN, Float
  .dv, .bn, .fl {
    color: #D33682;
  }

  // Char
  .ch {
    color: #DC322F;
  }

  // String
  .st {
    color: #2AA198;
  }

  // Comment
  .co {
    color: #93A1A1;
  }

  // Other
  .ot {
    color: #A57800;
  }

  // Alert
  .al {
    color: #CB4B16;
    font-weight: bold;
  }

  // Function
  .fu {
    color: #268BD2;
  }

  // Variable
  .va {
    color: var(--colour-text);
  }

  // Error
  .er {
    color: #D30102;
    font-weight: bold;
  }
}

blockquote {
  display: flex;
  margin-left: unset;
  font-style: italic;

  &:before {
    font-size: 22px;
    flex: 0 0 auto;
    content: ">";
    margin-right: 1ch;
  }

  p {
    flex: 1 1 auto;
    margin: unset;
  }
}

figure {
  position: relative;
  margin: unset;
  background: var(--colour-background);

  figcaption {
    font-style: italic;
    padding-top: 8px;
    margin-bottom: 8px;

    &::before {
      content: "┗ "
    }
  }
}

pre {
  font-size: 22px;
  overflow: auto;
  background: var(--colour-background-sub);
  margin-top: unset;
  margin-bottom: 12px;
  padding: 8px;
}



.container {
  max-width: 70ch;
  padding: 0 16px;
  margin: auto;
  position: relative;
}

.rightSidenoteContainer {
  left: 75ch;
}

.leftSidenoteContainer {
  right: 75ch;
}

.rightSidenoteContainer,
.leftSidenoteContainer {
  position: absolute;
  height: 100%;
  width: calc(50vw - (50% + 104px));
  top: 0;
  max-width: 60ch;
  min-width: 30ch;

  @media screen and (max-width: 1300px) {
    display: none;
  }
}

.sidenote {
  background-color: var(--colour-background);
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  padding: 8px;
  border: 1px solid;
  display: flex;
  color: var(--colour-text);
  font-family: "Source Serif Pro", sans-serif;
  font-size: 18px;
  line-height: 22px;

  .number {
    margin-right: 0.5ch;
  }

  p {
    margin-bottom: unset;
    line-height: unset;
  }
}

.footnote-ref {
  margin-left: 0.25ch;
}

p + p {
  text-indent: 1em;
}

sup {
  vertical-align: top;
  position: relative;
  top: -0.5em;
}
