body {
  p,
  td,
  a {
    color: #000;
    font-size: 22px;
    font-weight: 400;
  }

  .container {
    max-width: 70ch;
    padding: 0 16px;
  }

  h1 {
    font-size: 32px;
  }

  p {
    margin-bottom: 8px;
  }

  pre {
    font-size: 22px;
    overflow: auto;
    background: #eee;
    margin: unset;
    padding: 8px;

    code {
      > span {
        &:not(:first-of-type) {
          margin-left: -25px;
        }
      }
    }
  }

  blockquote {
    display: flex;
    margin-left: unset;
    font-style: italic;

    &:before {
      font-size: 22px;
      flex: 0 0 auto;
      content: ">";
      margin-right: 1ch;
    }

    p {
      flex: 1 1 auto;
      margin: unset;
    }
  }

  .tableOfContents {
    display: flex;
    flex-direction: column-reverse;
  }

  figure {
    position: relative;
    margin: unset;
    background: #fff;

    img {
      display: block;
      width: 100%;
      object-fit: contain;
      image-rendering: pixelated;
      transition: all 500ms ease-in-out;

      &.highRes {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        cursor: pointer;

        &.visible {
          opacity: 1;
        }
      }

      &.dithered {
        mix-blend-mode: hard-light;
        cursor: pointer;
        opacity: 1;

        &.hidden {
          opacity: 0;
        }
      }
    }

    figcaption {
      font-style: italic;
      padding-top: 8px;
    }
  }

  @media (prefers-color-scheme: dark) {
    background-color: #000;

    p,
    td,
    a,
    h1,
    pre,
    blockquote:before,
    figcaption {
      color: #fff;
    }

    pre {
      background: #111;
    }

    figcaption {
      background: #000;
    }
  }
}


