@font-face {
  font-family: "Source Serif Pro";
  font-weight: normal;
  font-style: normal;
  src: url("./fonts/SourceSerifPro-Regular.ttf");
}

@font-face {
  font-family: "Source Serif Pro";
  font-weight: bold;
  font-style: normal;
  src: url("./fonts/SourceSerifPro-Bold.ttf");
}

@font-face {
  font-family: "Source Serif Pro";
  font-weight: normal;
  font-style: italic;
  src: url("./fonts/SourceSerifPro-Italic.ttf");
}

@font-face {
  font-family: "Source Serif Pro";
  font-weight: bold;
  font-style: italic;
  src: url("./fonts/SourceSerifPro-BoldItalic.ttf");
}

body {
  background-color: var(--colour-background);
  margin: 0 8px 8px;

  p,
  td,
  a,
  .rss,
  h1,
  h2,
  blockquote:before,
  figcaption,
  pre,
  li {
    color: var(--colour-text);
    font-family: "Source Serif Pro", sans-serif;
  }

  p,
  td,
  a,
  .rss,
  li {
    font-size: 22px;
    font-weight: 400;
  }

  .container {
    max-width: var(--container-size);
    padding: 0 16px;
    margin: 0;
  }

  h1 {
    font-size: 32px;
    display: flex;
    justify-content: space-between;
    margin: unset;
    padding: 15px 0 20px;
    z-index: 3;
    background-color: var(--colour-background);
    align-items: baseline;

    &:first-of-type {
      position: sticky;
      top: 0;
    }

    > span:first-child {
      display: flex;
      align-items: baseline;

      a {
        margin-right: 1ch;
      }
    }
  }

  h2 {
    font-size: 28px;
  }

  p {
    margin-top: unset;
    margin-bottom: 12px;
    position: relative;
  }

  pre {
    font-size: 22px;
    overflow: auto;
    background: var(--colour-background-sub);
    margin-top: unset;
    margin-bottom: 12px;
    padding: 8px;

    code {
      > span {
        &:not(:first-of-type) {
          margin-left: -25px;
        }
      }
    }
  }

  blockquote {
    display: flex;
    margin-left: unset;
    font-style: italic;

    &:before {
      font-size: 22px;
      flex: 0 0 auto;
      content: ">";
      margin-right: 1ch;
    }

    p {
      flex: 1 1 auto;
      margin: unset;
    }
  }

  .tableOfContents {
    display: flex;
    flex-direction: column-reverse;
  }

  figure {
    position: relative;
    margin: unset;
    background: var(--colour-background);

    figcaption {
      font-style: italic;
      padding-top: 8px;
      margin-bottom: 8px;

      &::before {
        content: "┗ "
      }
    }
  }

  img {
    display: block;
    max-width: 560px;
    width: 100%;
    object-fit: contain;

    &.highRes {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      cursor: pointer;

      &.visible {
        opacity: 1;
      }
    }

    &.dithered {
      mix-blend-mode: hard-light;
      cursor: pointer;
      opacity: 1;
      image-rendering: pixelated;

      &.hidden {
        opacity: 0;
      }
    }
  }

  .alignToggle {
    margin-left: 8px;
  }

  .themeToggle,
  .alignToggle,
  .widthToggle {
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;

    &:focus {
      outline: none;
      box-shadow: none;
      border-color: inherit;
    }
  }

  @media screen and (max-width: 70ch) {
    .alignToggle,
    .widthToggle {
      display: none;
    }
  }

  .sourceCode {
    // KeyWord
    .kw {
      color: #268BD2;
    }

    // DataType
    .dt {
      color: #268BD2;
    }

    // DecVal (decimal value), BaseN, Float
    .dv, .bn, .fl {
      color: #D33682;
    }

    // Char
    .ch {
      color: #DC322F;
    }

    // String
    .st {
      color: #2AA198;
    }

    // Comment
    .co {
      color: #93A1A1;
    }

    // Other
    .ot {
      color: #A57800;
    }

    // Alert
    .al {
      color: #CB4B16;
      font-weight: bold;
    }

    // Function
    .fu {
      color: #268BD2;
    }

    // Variable
    .va {
      color: var(--colour-text);
    }

    // Error
    .er {
      color: #D30102;
      font-weight: bold;
    }
  }

  .imageGrid {
    display: grid;
    grid-template-columns: repeat(3, fit-content(70ch));

    a {
      position: relative;
      margin: auto;

      .anchor {
        position: absolute;
        top: -100px
      }

      &:focus {
        outline: none;
      }

      &:target {
        grid-row: 1 / 3;
        grid-column: 1 / 4;
        margin: -75px auto 0;
        position: sticky;
        top: 0;
        z-index: 2;
        outline: none;

        img {
          margin-top: 75px;
        }
      }
    }
  }
}


